.gif-container {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

.gif-card {
  width: 250px;
  height: 250px;
  cursor: pointer;
}

img{
  width: 100%;
  height: 90%;
}

.gif-card > p {
  margin: 0;
}